<div class="panel-body">
<%= link_to "link1(with Ajax)", root_url+"sp/4/link1.html", remote:true %>

   
       </div>
       
       <div class="panel-footer">
<%= link_to "link2(no Ajax)", root_url+"sp/3/link2.html" %>

   
       </div>
    