<div class="panel-body">
       <a data-remote="true" href="sp/4/link1.html">link 1(with Ajax)</a>
   
       </div>
       
       <div class="panel-footer">
       <a  href="sp/3/link2.html">link 2(no ajax)</a>
   
       </div>
    